    .topnav {
        width: 100%;
        position: fixed;
        overflow: hidden;
        background-color: #1A2930;
        padding-left: 20%;
        padding-right: 20%;
    }
    
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 15px;
        transition: .3s;
    }
    
    .topnav a.cad {
        float: right;
    }
    
    .topnav a:hover {
        background-color: #314750;
        color: white;
    }
    
    .topnav a.active {
        background-color: #F7CE3E;
        color: black;
    }
    
    .topnav .icone {
        display: none;
    }
    
    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        font-family: Arial;
        background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    }
    
    .header {
        color: rgb(255, 255, 255);
        padding: 30px;
        font-size: 40px;
        text-align: center;
        background-image: url("../img/6e2a4440-dbda-4760-b46b-ce39db5720cf.jpg");
    }
    
    .leftcolumn {
        margin-left: 5%;
        float: left;
        width: 60%;
    }
    
    .rightcolumn {
        float: left;
        width: 30%;
        padding-left: 20px;
        margin-right: 5%;
    }
    
    .fakeimg {
        background-color: #f0f0f0;
        width: auto;
        padding: 20px;
        background-repeat: no-repeat;
    }
    
    .ver {
        background-color: #F7CE3E;
        width: 100%;
        padding: 20px;
    }
    
    .card {
        background-color: white;
        padding: 20px;
        margin-top: 20px;
    }
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .footer {
        margin: 0;
        background-color: #0c1c2b;
        margin-top: 20px;
        color: white;
        margin-bottom: 0%
    }
    
    .footer .column {
        background-color: #3b657948;
        float: left;
        width: 50%;
        height: auto;
    }
    
    .footer .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .card a {
        color: slategrey;
        text-align: center;
        margin: 1px;
        text-decoration: none;
    }
    
    .main-content {
        color: #ddd;
        display: flex;
    }
    
    .main-content .box {
        flex-basis: 50%;
        padding: 20px 150px;
        margin: 15px;
    }
    
    .box h2 {
        font-size: 1.125rem;
        font-weight: 600;
        text-transform: uppercase;
    }
    
    .box .content {
        margin: 20px 0 0 0;
        position: relative;
    }
    
    .box .content:before {
        position: absolute;
        content: '';
        top: -10px;
        height: 2px;
        width: 100%;
        background: #ffffff;
    }
    
    .box .content:after {
        position: absolute;
        content: '';
        top: -10px;
        height: 2px;
        width: 20%;
        background: #F7CE3E;
    }
    
    .left .content p {
        text-align: justify;
    }
    
    .left .content .social {
        margin: 20px 0 0 0;
    }
    
    .left .content .social a {
        padding: 0 2px;
    }
    
    .left .content .social a span {
        color: #ddd;
        height: 40px;
        width: 40px;
        background: #21333b;
        text-align: center;
        line-height: 40px;
        font-size: 18px;
        border-radius: 5px;
        transition: .3s;
    }
    
    .left .content .social a span:hover {
        background: #F7CE3E;
    }
    
    .center .content .fas {
        font-size: 1.4375rem;
        background: #21333b;
        height: 45px;
        width: 45px;
        line-height: 45px;
        text-align: center;
        border-radius: 50%;
        transition: .3s;
        cursor: pointer;
    }
    
    .center .content .fas:hover {
        background: #F7CE3E;
    }
    
    .center .content .text {
        font-size: 1.0625rem;
        font-weight: 500;
        padding-left: 10px;
    }
    
    .center .content .phone {
        margin: 10px 0;
    }
    
    .right form .msg {
        margin-top: 10px;
    }
    
    .right form .text {
        font-size: 1.0625rem;
        margin-bottom: 2px;
    }
    
    .right form input,
    .right form textarea {
        color: #ddd;
        width: 100%;
        font-size: 1.0625rem;
        background: #25333a;
        padding-left: 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #f2f2f2;
    }
    
    .right form input:focus,
    .right form textarea:focus {
        outline: none;
        outline-color: #F7CE3E;
    }
    
    .right form input {
        height: 35px;
    }
    
    .right form .btn {
        margin-top: 10px;
    }
    
    .right form .btn button {
        height: 40px;
        width: 100%;
        border: none;
        outline: none;
        background: #F7CE3E;
        color: black;
        font-size: 1.0625rem;
        font-weight: 500;
        cursor: pointer;
        transition: .3s;
    }
    
    .right form .btn button:hover {
        background: #f2f2f2;
    }
    
    @media screen and (max-width: 800px) {
        .leftcolumn,
        .rightcolumn {
            width: 100%;
            padding: 0;
        }
        .footer .column {
            float: left;
            width: 100%;
            padding: 10px;
            height: auto;
        }
    }
    
    @media screen and (device-aspect-ratio: 21/9) {
        .leftcolumn {
            margin-left: 20%;
            float: left;
            width: 60%;
        }
        .rightcolumn {
            float: left;
            width: 30%;
            padding-left: 20px;
            margin-right: 20%;
        }
    }
    
    @media screen and (max-width: 600px) {
        .topnav a:not(:first-child) {
            display: none;
        }
        .topnav a.icone {
            color: white;
            float: right;
            display: block;
            background-color: transparent;
        }
        .fakeimg {
            max-width: 100%;
            height: auto;
        }
        .main-content .box {
            flex-basis: 50%;
            padding: 20px 0px;
            margin: 15px;
        }
    }
    
    @media screen and (max-width: 600px) {
        .topnav.responsive {
            position: fixed;
        }
        .topnav.responsive .icone {
            position: absolute;
            right: 0;
            top: 0;
        }
        .topnav.responsive a {
            float: none;
            display: block;
            text-align: center;
        }
        .topnav {
            padding-right: 0%;
            padding-left: 0%;
        }
        .main-content {
            flex-wrap: wrap;
            flex-direction: column;
        }
        .main-content .box {
            margin: 15px 0;
        }
        .leftcolumn {
            float: left;
            margin-left: 0%;
            width: 100%;
        }
        .rightcolumn {
            float: left;
            width: 100%;
            margin-right: 0%;
        }
    }